<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489438172435-8rd9aqp1sikkfhausl5f8se5g8aighmf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489438172435-8rd9aqp1sikkfhausl5f8se5g8aighmf</string>
	<key>API_KEY</key>
	<string>AIzaSyCsJKDmUoLhqP8Y_osPeGNH8Lc4KBv61k0</string>
	<key>GCM_SENDER_ID</key>
	<string>489438172435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BigZero.Quick-Tour</string>
	<key>PROJECT_ID</key>
	<string>dunggreen-d64e2</string>
	<key>STORAGE_BUCKET</key>
	<string>dunggreen-d64e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489438172435:ios:92698d2081cb0cb1</string>
	<key>DATABASE_URL</key>
	<string>https://dunggreen-d64e2.firebaseio.com</string>
</dict>
</plist>